<h2>List of courses</h2>

<section *ngFor="let course of allCourses">
    <ul>
        <li>{{course}}</li>
    </ul>
</section>

<h2>Enter your username</h2>

<input type="text" placeholder="Enter your username" [(ngModel)]="username" (keypress)= "handleChange()">



<p>your username is {{username}}</p>


<h3>learning pipes | in Angular</h3>
<ul>
    <li>{{pipes.uppercaseName | uppercase}}</li>
    <li>{{pipes.lowercaseName | lowercase}}</li>
    <li>{{pipes.lowercaseName | titlecase}}</li>
    <li>{{pipes.numbers | number}}</li>
    <li>{{pipes.currency | currency}}</li>
    <li>{{pipes.decimal | number:'1.1-3'}}</li>
    <li>{{pipes.longText | summary:70}}</li>
    
    
</ul>