<h1 class="fw-bold text-center">Welcome To Angular!</h1>

<app-courses></app-courses>
<app-star-rating></app-star-rating>
<app-input></app-input>
<br />
<br />
<br />
<h3 class="fw-bold text-capitalize p-2">
  passing data from parent to child and vice versa
</h3>
<app-users></app-users>
<app-like></app-like>

<h3 class="text-capitalize fw-bold">
  rendering elements with the ngSwitch Directive
</h3>

<p class="">
  current fruit is
  <span class="fw-bold m-0 p-0">{{ currentFruitSelected }}</span>
</p>

<div [ngSwitch]="currentFruitSelected" class="p-0 m-0">
  <div *ngSwitchCase="'mangoes'" class="text-capitalize">i love mangoes</div>
  <div *ngSwitchCase="'apple'" class="text-capitalize">i love apples</div>
  <div *ngSwitchCase="'orange'" class="text-capitalize">i love orange</div>
  <div *ngSwitchDefault>No fruit was chosen</div>
</div>

<button
  type="button"
  (click)="toggleFruits()"
  class="btn btn-primary text-capitalize"
>
  click to Toggle Fruits
</button>

<h3 class="fw-bold text-capitalize">
  changing componenent style with style binding and ngClass
</h3>

<div class="p-0 m-0">
  <p>A button that toggles to loading state or growing state</p>

  <button
    class="btn btn-primary d-flex align-items-center justify-content-between text-capitalize p-2"
    (click)="toggleButtonState()"
  >
    <span
      class="m-0 mx-2"
      [ngClass]="{
        'spinner-border': buttonLoading,
        'spinner-grow': !buttonLoading
      }"
      [style.width]="'20px'"
      [style.height]="'20px'"
    ></span>
    change animation
  </button>
</div>

<h3 class="fw-bold text-capitalize">
  changing componenent style with [ngStyle] directive
</h3>

<div class="m-0 p-0">
  <p>A button that changes to an error button on click</p>

  <button class="btn p-2 text-light" [ngStyle]="{
    backgroundColor: (buttonError) ? 'tomato' : ' #0d6efd'
  }"
  (click)="toggleButtonErrorState()">Click me!</button>
</div>

<h3 class="text-capitalize fw-bold">
  learning template driven forms
</h3>


<form class="m-0 " ngForm #form = "ngForm"  (submit)="handleSubmit(form,password)">


<section ngModelGroup="contact" #contact="ngModelGroup" class="m-0">
    <section class="form-group">
      <label for="username" class="text-capitalze"> Enter your username</label>

      <input type="text" required class="form-control"  ngModel #usernameInput="ngModel"  placeholder="username" name="username"/>
      <div class="alert alert-danger text-capitalize" *ngIf="!usernameInput.valid && usernameInput.touched">username is required</div>
  </section>


  <section class="form-group">
      <label for="password" class="text-capitalze"> Enter your password</label>

      <input type="password" required minlength="8" maxlength="10" class="form-control"  ngModel  name="password" #password="ngModel"  placeholder="password"/>
      <div class="alert alert-danger text-capitalize" *ngIf="!password.valid && password.touched">
      </div>

  </section>

</section>
<section class="form-group">
      <label for="password" class="text-capitalze">

      <input type="checkbox" class="form-check-label" ngModel name="rememberMe"/> Remember me


      </label>


  </section>
  <p class="text-center">{{form.value | json}}</p>

  <section class="form-group">
      <button class="btn btn-primary p-2 text-capitalize">submit form</button>
  </section>


</form>
